@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');

body{
  font-family: 'Inria Serif', serif;
  text-align: center;
  background-color: hsl(348, 72%, 41%);
  padding-top: 0.2rem;
  height: 100%;
  display: block;
}

p{
  margin: 0;
  padding: 0;
}

.content{
  padding-top: 0.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(348, 69%, 56%);
  box-shadow: 3px 3px 5px 6px hsl(348, 69%, 56%);
}

.video{
  text-align: center;
  font-size: 1rem;
}

a {
  color: aliceblue;
}

a:hover {
  color: rgb(231, 27, 112);
}

.one_video{
  margin: 2rem;
}

video {
  margin: 2rem;
  background-color: aliceblue;
}

.input-group{
  padding: 2rem;
  padding-bottom: 0;
}

.navigator {
  margin-bottom: 2rem;
}

.buttons{
  margin: 1rem;
  justify-content: center;
}

.navbar{
  color: black;
  font-size: 12;
  border-radius: 0.5rem;
}

span{
  text-align: center;
  display: block;
  margin: 1rem;
  background-color: hsl(348, 57%, 39%);
  box-shadow: 3px 3px 5px 6px hsl(348, 57%, 39%);
  border-radius: 1rem;
}

nav{
  background-color: hsl(348, 72%, 41%);
  box-shadow: 3px 3px 5px 6px hsl(204, 86%, 53%);
  margin: 1rem;
  font-size: 2rem;
}

.title{
  background: black;
  margin: 1rem;
  background-color: hsl(204, 86%, 53%);
  box-shadow: 3px 3px 5px 6px hsl(204, 86%, 53%);
}